<ngx-wheel
#wheel width='400'
height='400'
spinDuration='10'
[items]='items'
[innerRadius]='50'
[spinAmount]='11'
[textOrientation]='textOrientation'
[textAlignment]='textAlignment'
pointerStrokeColor='black'
pointerFillColor='gold'
[idToLandOn]='idToLandOn'
(onSpinStart)='before()'
(onSpinComplete)='after()'>
</ngx-wheel>

<div class="reset">
  <button (click)="reset()">Reset</button>
</div>

<form (ngSubmit)="onSubmit()" #formName="ngForm">
  <h2>Add a new player</h2>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="test" [(ngModel)]="nameModel" name="name" id="name" #name="ngModel" (ngModelChange)="valuechange($event)"
     required>
     <button  class="btn btn-success" [disabled]="!formName.form.valid" >Add Player</button>
  </div>

</form>
<!-- <pre>{{seed2 | json}}</pre> -->

<div class="buttons" *ngFor="let seed of seed2">
  <button (click)="delete(seed)">{{seed}}</button>
</div>
